h1 {
    color: cadetblue;
    background-color: beige;
    text-align: center;

}
p {
    color: cornflowerblue;
    background-color: bisque;
}
#rezaarab {
    color: darkslategrey;
    background-color: darkgray;
}
.warnasatu {
    color: blueviolet;
    background-color: cornflowerblue;
}
.warnadua {
    color: brown;
    background-color: dimgray;
}
.warnatiga {
    color: hotpink;
    background-color: black;
}
#kotak-satu {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin-bottom: 10px;
}
#kotak-dua {
    height: 100px;
    width: 500px;
    background-color: darkred;
    margin-bottom: 10px;
}
#kotak-tiga {
    height:100px ;
    width: 100px;
    background-color: palevioletred;
    border-radius: 50%;

}
#bikinbg{
    width: 500px;
    height: 200px;
    background-color: brown;
    color: cadetblue;
    background-image: url("../image/langit.avif");
    background-size: cover;
    border-radius: 20px;
}
#bikinbg h2 {
    text-align: center;
    padding-top: 80px;
}
#bikinpattern{
    width: 500px;
    height: 200px;
    background-color: brown;
    color: cadetblue;
    background-image: url("../image/pattern.100.jpg");
    border-radius: 20px;
    background-repeat: repeat;
}
#bikinpattern h2 {
    text-align: center;
    padding-top: 80px;
}